body { 
    /* The image used */
    background-image: url("http://4.bp.blogspot.com/-jpJGWhjlouU/VLGPKmPElII/AAAAAAAADok/5QMxFKMOnvQ/s1600/christ%2Bcreating%2Bthe%2Bearth.jpg");
   /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    color: white; }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  

h1{ text-align:center; 
  font-style: bold; 
}
p{ text-align:center;
}   
